{
  "Database": "type=postgres;server=localhost;database=btcpayserver;uid=postgres;pwd=btcpay123",
  "Network": "testnet",
  "Chains": "btc",
  "BTCExplorerUrl": "http://127.0.0.1:32838",
  "BTCRPCCookieFile": "~/.bitcoin/testnet3/.cookie",
  "BTCRPCCredentialString": "bitcoinuser:bitcoinpass123",
  "BTCRPCServer": "127.0.0.1:18332",
  "ExternalUrl": "http://localhost:23000",
  "Port": 23000,
  "RootPath": "/",
  "PostgresMigrate": true,
  "DisableRegistration": false,
  "DebugLog": "~/.btcpayserver/TestNet/debug.log",
  "DebugLogLevel": "Information"
} 